<div class="form-edit-account">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="actions">
        <i class="material-icons">more_vert</i>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="removeAccount()">
            <span>Xóa</span>
        </button>
    </mat-menu>
    <form #formEditAccount="ngForm" class="form-edit-account">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="form-control">
                    <input matInput placeholder="Username" [(ngModel)]="account.user_name" #usernameEditControl="ngModel" name="account.username">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="form-control">
                    <input matInput placeholder="Email" [(ngModel)]="account.email" #emailEditControl="ngModel" name="account.email" [pattern]="pattern.email"
                        required>
                    <mat-error *ngIf="(emailEditControl.touched || formAccount.submitted) && !emailEditControl.valid">
                        <span *ngIf="emailEditControl.errors.pattern">Email không đúng dạng</span>
                        <span *ngIf="emailEditControl.errors.required">Chưa nhập email</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="form-control">
                    <input matInput placeholder="Password" [(ngModel)]="account.password" #passwordEditControl="ngModel" name="account.password"
                        required>
                    <mat-error *ngIf="(passwordEditControl.touched || formAccount.submitted) && !passwordEditControl.valid">
                        <span *ngIf="passwordEditControl.errors.required">Chưa nhập mật khẩu</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-control">
                    <textarea matInput placeholder="Extra" [(ngModel)]="account.extra" #extraAddControl="ngModel" rows="4" name="extra"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
