<div class="card">
  <div class="card-block">
    <form #formFilter="ngForm" (ngSubmit)="filterForm(formFilter)">
        <div class="row">
            <div class="col-4">
              <mat-form-field class="form-control">
                <input matInput placeholder="Tìm kiếm" [(ngModel)]="filter.search" #nameControl="ngModel" name="name">
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button mat-raised-button color="primary" type="submit">
                <i class="material-icons">search</i>
                <span>Filter</span>
            </button>
            <a mat-button (click)="resetForm()">
                <i class="material-icons">refresh</i>
                <span>Clear</span>
            </a>
        </div>
        </div>
    </form>
    <div class="text-right">
        <a mat-raised-button color="primary" [routerLink]="['them']">
            <i class="material-icons">add</i>
            Add account
        </a>
    </div>

    <ngx-datatable [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [offset]="currentPage" [limit]="itemsPerPage" [count]="totalItems" (page)='setPage($event)' *ngIf="accounts">
        <ngx-datatable-column name="Tên" prop="name" editable="false" frozenLeft="True" [sortable]="sortable"></ngx-datatable-column>
        <ngx-datatable-column name="Website" prop="website" editable="false" frozenLeft="True" [sortable]="sortable"></ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="sortable">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-user="row" let-group="group" let-rowHeight="rowHeight">
                <a mat-raised-button color="primary" [routerLink]="[user._id]">
                    <i class="material-icons">edit</i>
                    Edit
                </a>
                <button mat-raised-button color="warn" (click)="popDeleteUser(user._id)">
                    <i class="material-icons">delete_forever</i>
                    Delete
                </button>
                <button mat-raised-button color="primary" (click)="popInfo(user._id)">
                    <i class="material-icons">info</i>
                    Info
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>