<div class="card">
  <div class="card-block">
    <button mat-raised-button color="primary" (click)="popAdd()">
      <i class="material-icons">add</i>
      Add user
    </button>
    <ngx-datatable [rows]="rows" [columns]="columns" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [externalPaging]="true" [offset]="currentPage" [limit]="itemsPerPage" [count]="totalItems" (page)='setPage($event)' *ngIf="usersList">
      <ngx-datatable-column name="Tên" prop="name" editable="false" frozenLeft="True" [sortable]="sortable" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email" editable="false" frozenLeft="True" [sortable]="sortable" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Quyền" [sortable]="sortable" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-user="row" let-group="group" let-rowHeight="rowHeight">
          {{getRoleString(user.roles)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [sortable]="sortable" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-user="row" let-group="group" let-rowHeight="rowHeight">
          <button mat-raised-button color="primary" (click)="popEdit(user._id)">
            <i class="material-icons">edit</i>
            Edit
          </button>
          <button mat-raised-button color="accent" (click)="popChangePassword(user._id)">
            <i class="material-icons">lock</i>
            Change Password
          </button>
          <button mat-raised-button color="warn" (click)="popDeleteUser(user._id)">
            <i class="material-icons">delete_forever</i>
            Delete
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
